.Manage-request-container {
  tr {
    --gap: 0.5rem;
  }
  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    letter-spacing: 1.5px;
  }
  .print-btn {
    border-radius: 5px;
    align-self: flex-end;
    margin-top: auto;
    padding: 0.5rem 1rem;
  }
}
@media print {
  /* Hide the print button during print */
  button {
    display: none;
  }
  /* Make sure the table layout remains the same */
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th {
    border: none !important;
  }
  /* Customize the table rows for print, maintain a clean look */
  tr {
    border: 1px solid #000;
  }
}
