.donor-dashboard {
  position: relative;
  background-color: var(--Grayish-Bg);
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    justify-items: center;
    @media screen and (min-width: 48em) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
    }
    @media screen and (min-width: 64em) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 250px 1fr;
    }
    --gap: 2rem;

    .Recipient__requests {
      width: 100%;
      max-width: unset;
      grid-column: 1/2;
      grid-row: 3/5;
      position: relative;
      align-items: center;
      overflow: hidden;
      @media screen and (min-width: 48em) {
        grid-column: 1/3;
        grid-row: 2/5;
      }
      @media screen and (min-width: 64em) {
        grid-column: 1/3;
        grid-row: 2/3;
      }
      &__container {
        overflow-x: hidden;
        width: 255px;
        @media screen and (min-width: 48em) {
          width: 550px;
        }
        .request-carousel {
          width: 300%;
          align-items: center;
          justify-content: flex-start;
          transition: transform 0.5s ease-in-out;
          padding: 0.5rem;
          .request-card {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            align-items: center;
            padding: 2rem 1rem;
            --gap: 0.75rem;
            max-width: 280px;
            .img-box {
              position: relative;
              img {
                width: 50px;
                border-radius: 50%;
              }
              &::before {
                position: absolute;
                content: attr(data-blood-type);
                top: -25px;
                right: -28px;
                padding: 5px 10px;
                font-size: 14px;
                color: #000;
                font-weight: 700;
              }
              &::after {
                position: absolute;
                content: "";
                background: url(../../images/Red-drop.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                top: -10px;
                right: -5px;
                width: 20px;
                height: 25px;
              }
            }
            .info {
              --gap: 0.55rem;
              align-items: center;
              .name {
                font-size: 0.85rem;
              }
              .email {
                font-size: 0.75rem;
              }
            }
            .location p {
              font-size: 0.75rem;
            }
            .Blood_units span {
              font-size: 1.25rem;
              font-weight: 600;
            }
            .action-btns {
              button {
                padding: 0.5rem 1.25rem;
              }
            }
          }
        }
      }
      .arrows {
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .carousel-indicators {
        position: unset;
      }
    }
  }
  .modal {
    // display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    p {
      position: unset;
      transform: translateX(0%);
      font-size: 1rem;
    }
    button {
      padding: 0.5rem 3rem;
    }
  }
}
