/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
  align-items: center;
}
.flex-s-b {
  display: flex;
  gap: var(--gap, 1rem);
  align-items: flex-end;
  justify-content: space-between;
}
.flex-s-b-center {
  display: flex;
  gap: var(--gap, 1rem);
  align-items: center;
  justify-content: space-between;
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.container {
  padding-inline: 5vw;
  margin-inline: auto;
  width: 100%;
  max-width: 90rem;
  @media screen and (min-width: 48em) {
    padding-inline: 2.5em;
  }
  @media screen and (min-width: 56.25em) {
    padding-inline: 5em;
  }
}
.card {
  background-color: var(--White);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 2rem;
  max-width: 400px;
}
.red {
  color: var(--Red);
}
.Sucess {
  color: var(--Green);
  font-weight: 700;
}
.failure {
  color: var(--Red);
  font-weight: 700;
}
.w-100 {
  width: 100%;
}
.Hollow-btn {
  color: var(--Red);
  border: 2px solid var(--Red);
  padding: 0.5rem 3.5rem;
  font-size: 1.25rem;
  transition: all 1s;
  @media screen and (min-width: 48em) {
    padding: 1rem 4rem;
    font-size: 2.25rem;
  }
  @media screen and (min-width: 64em) {
    padding: 1.25rem 4rem;
    font-size: 2.25rem;
  }
  &:hover {
    background-color: var(--Red);
    color: var(--White);
  }
}
/* typography */

.ff-Merriweather {
  font-family: var(--ff-Merriweather);
}
.ff-Poppins {
  font-family: var(--ff-Poppins);
}
.ff-Raleway {
  font-family: var(--ff-Raleway);
}
.ff-Inter {
  font-family: var(--ff-Inter);
}
